@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

*, *:after, *:before {
	box-sizing: border-box;
}

body {
	font-family: "DM Sans", sans-serif;
	line-height: 1.5;
	background-color: #f1f3fb;
	padding: 0 2rem;
	background-color: #fff;
}
body {
  width : 90%   ;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family:  'Montserrat', sans-serif;
  margin: 0 auto;
}

.main-navbar {
    width : 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: ;
    z-index: 100;
    position : fixed;
    top:0;
}

.navbar {
  background-color: #fff;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family:  'Montserrat', sans-serif;
  width: 80%;
  height : 85px;
  z-index: 100;
  padding : 0;
}
.navbar .logo-img{
  width : 50px;
}
.navbar .logo {
  display: flex;
  align-items: center;
  cursor : pointer;
}
#contact {
    margin-right : px;
}
.navbar .logo-text{
  font-size : 34px;
  color:#333;
  margin-top : 5px;
  margin-left : 5px;
}
.logo-text .first {
    margin : 0;
    color : #FFBB0B;
    font-weight : bold;
}

.navbar .nav-links {
  display: inline-block;
  color: #333;
  margin: 10px 10px;
  text-decoration: none;
  font-size: 14px;
}

.navbar-right .login-btn{
    background-color : #333;
    border-radius : 20px;
    color : #fff;

}

.navbar-right {
    margin : 0;
    padding : 0;
}


.navbar .nav-links:hover {
  font-weight : bold;
  text-decoration : underline;
}

.navbar .login-btn:hover {
        text-decoration : none;
        background-color : #FFBB0B;
        color : #333;

}

/*/////////////////////booking section//////////////////////////////////*/

.form-container {
  margin-bottom: 50px;
  margin-top: 90px;
  width: 80%;
  padding: 40px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}


.form-container h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
  font-size: 24px;
}

.form-container label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #555;
}

.form-container input,
.form-container select,
.form-container textarea {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 14px;
  box-sizing: border-box;
}

.form-container textarea {
  resize: vertical;
  height: 100px;
}

.form-container button {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 14px;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}

.form-container button:hover {
  background-color: #555;
}

/*////////////////Footer ///////////////////////*/


footer {
  background-color: #333;
  color: #fff;
  width : 106%;
  display : flex;
  align-items : center;
  justify-content : center;
}

.footer-section{
    width : 80%;
    padding : 20px 0px;
}


.footer-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the left */
}

.footer-logo {
  display: flex;
  align-items: left;
}

.footer-img{

}

.footer-logo-text {
  font-size : 25px;
  color:#f2f2f2;
  font-weight : bold;
  margin-top : 10px;
  margin-left : 10px;
  margin-bottom : 10px;
}


.footer-logo img {
  width: 40px;
  height: 40px;
  margin : 0px 10px;
}

.footer-links {
  text-align: left;
  margin-top : 10px;
  margin-left : 10px;
}

.footer-links a {
  float : left;
  display: block;
  color: #fff;
  margin-bottom: 10px;
  text-decoration: none;
}

.footer-social {
  display : flex;
  text-align: left;
  margin-top : 3px;
  margin-left : 3px;

}

.footer-social img {

  width: 30px;
  height: 30px;
  margin: 0 5px;
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;

}





