{% load static %}

<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <title>Chef's Table: Learn,Discover,Share</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
  <link rel="icon" href="{% static 'image/iconlogo.png' %}" type="image/x-icon">
  <link rel="stylesheet" href="{% static 'css/profile1.css' %}">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <style>
    .profile-container {
      max-width: 500px;
      margin: 6rem auto;
      padding: 20px;
      background-color: #f1f1f1;
      border-radius: 5px;
    }

    .profile-image {
      max-width: 200px;
      height: auto;
      margin-bottom: 20px;
    }

    .profile-info {
      margin-bottom: 20px;
    }

    .profile-label {
      font-weight: bold;
    }

    .profile-value {
      margin-left: 10px;
    }

    .profile-bio {
      margin-bottom: 20px;
    }
  </style>
</head>

<body>
  <div class="main-navbar">
      <div class="navbar" id="myNavbar">
        <div class="logo">
          <a href="index.html"><span class="logo-text"><span class="first">Chef's</span> Table</span></a>
        </div>
        <div class="navbar-right1">

          <a class="nav-links" href="{% url 'homeprofile' username=request.user.username %}" class="active">Home</a>
          <a class="nav-links" href="{% url 'explore1' username=request.user.username %}">Explore</a>
          <a class="nav-links" href="{% url 'post1' username=request.user.username %}">Post</a>
        </div>
      </div>
  </div>
  <div class="dropdown">
        <img src="{{ request.user.profile.profile_img.url }}" id="dropdown-img" alt="Profile Image">
        <ul class="dropdown-content" id="dropdown-menu">
            <li><p style="color : #333;">Welcome, {{ request.user.first_name }}</p></li>
            <li><a href="">Profile</a></li>
            <li><a href="{% url 'logout' username=request.user.username %}">Logout</a></li>
        </ul>
    </div>
  <div class="profile-container">
    <img src="{{ request.user.profile.profile_img.url }}" alt="Profile Image" class="profile-image">
    <div class="profile-info">
      <span class="profile-label">Username:</span>
      <span class="profile-value">{{ user.username }}</span>
    </div>
    <div class="profile-info">
      <span class="profile-label">First Name:</span>
      <span class="profile-value">{{ user.first_name }}</span>
    </div>
    <div class="profile-info">
      <span class="profile-label">Last Name:</span>
      <span class="profile-value">{{ user.last_name }}</span>
    </div>
    <div class="profile-info">
      <span class="profile-label">Email:</span>
      <span class="profile-value">{{ user.email }}</span>
    </div>

    <div class="profile-bio">
      <span class="profile-label">Bio:</span>
      <p>{{ user.profile.bio }}</p>
    </div>
  </div>
  <footer>
    <div class="footer-section">
      <div class="footer-container">
        <div class="footer-content">
          <div class="footer-logo">
            <span class="footer-logo-text">Chef's Table</span>
          </div>
          <div class="footer-links">
            <a href="/">Home</a><br>
            <a href="explore">Explore</a><br>
            <a href="post">Post</a><br>

          </div>
          <div class="footer-social">
            <a href="#"><img src="{% static 'image/facebook.png' %}" alt="Facebook"></a>
            <a href="#"><img src="{% static 'image/instagram-company.png' %}" alt="Instagram"></a>
            <a href="#"><img src="{% static 'image/twitter.png' %}" alt="Twitter"></a>
            <a href="#"><img src="{% static 'image/gmail.png' %}" alt="Gmail"></a>
          </div>
        </div>
        <div class="footer-bottom">
          <p>&copy; 2023 Chef's Table. All rights reserved.</p>
        </div>
      </div>
    </div>

  </footer>
</body>
</html>
