{% load static%}

<html>
<head>
  <title>Chef's Table | Sign in</title>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
  <link rel="icon" href="{% static 'image/iconlogo.png' %}" type="image/x-icon">
  <link rel="stylesheet" href="{% static 'css/signup_in.css' %}">
  <script src="/js/login.js"></script>
</head>
<body>
    <div class="first-container">
        <div class="center-container">
            <div class="hichef"><h1>Welcome Chef Sign in</h1></div>
            <div class="message-div">
                {% for message in messages %}
                <h5 style="color : red; font-size : 1rem;">{{ message }}</h5>
                {% endfor %}
            </div>
            <form class="form" method="POST" action="">
              {% csrf_token %}
              <input class="input" name="username" type="text" placeholder="Username" required>
              <input class="input" name="password" type="password" placeholder="Password" required>
              <button type="submit" id="login-button">Login</button>
              <a class="join" href="/signup">New to ChefTable ? Join now</a>
            </form>
        </div>

        <ul class="bg-bubbles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>



    </div>

</body>
</html>